.now-trending {
  position: relative;
  width: 100vw;
  display: flex;
  min-height: 250px;
  background: #e6e6e6;
  justify-content: center;
}
.now-trending > h2 {
  position: absolute;
  top: 15px;
  height: 30px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}
.now-trending .products {
  display: flex;
  margin-top: 60px;
  position: relative;
  flex-wrap: wrap;
  max-width: 1264px;
  height: fit-content;
  justify-content: center;
}
.now-trending .products > ul {
  background: #fff;
  margin: 15px;
  border-radius: 10px;
}
.now-trending .products > ul li {
  position: relative;
  list-style: none;
  width: auto;
  height: fit-content;
}
.now-trending .products > ul > li p {
  position: relative;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}
.now-trending .products > ul > li > img {
  max-width: 116px;
  position: relative;
  padding: 22px 18px 5px 18px;
  vertical-align: text-top;
}
