.now-trending {
  position: relative;
  width: 100vw;
  display: flex;
  height: fit-content;
  background: #e6e6e6;
  justify-content: center;
}
.now-trending > h2 {
  position: absolute;
  height: 30px;
  text-align: center;
}
.now-trending .products {
  display: flex;

  margin-top: 60px;
  position: relative;
  flex-wrap: wrap;
  max-width: 1264px;
  height: fit-content;
  justify-content: center;
}
.now-trending .products > ul li {
  position: relative;
  display: block;
  width: auto;
  height: 270px;
  box-sizing: border-box;
}
.now-trending .products > ul > li p {
  bottom: 0;
  position: absolute;
  background-color: aqua;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}
.now-trending .products > ul > li > img {
  max-width: 136px;
  position: relative;
  padding: 24px 8px 16px 8px;
  border-radius: 15px;
  background: #fff;
  vertical-align: text-top;
}
