.detail-container{
  width: 100%;
  max-width: 1264px;
  margin:auto;
}
.detail-content{
  padding: 30px;
  width: fit-content;
  margin: auto;
  border: 1px solid #000;
}
.detail-content .brand{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.detail-content .name{
  font-size: 30px;
}
.detail-content > img{
  width: 300px;
}
@media screen and(max-width: 960px){


  .detail-container{
    margin:0;
  }

  .detail-content{
    mergin:0;
  }

}
