.main-container {
  position: relative;
  max-width: 1265px;
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}
.main-container .yml-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  padding: 15px;
}
.main-container .container {
  position: absolute;
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-template-rows: calc(50% - 10px) calc(50% - 10px);
  column-gap: 20px;
  row-gap: 20px;
  z-index: -2;
  width: 100%;
  max-width: 1265px;
  height: 550px;
  align-content: center;
  margin-left: 50%;
  transform: translate(-50%);
}
.container .item-0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  z-index: -3;
  border-radius: 15px;
  background: #b60000;
  bottom: 0;
  box-shadow: 0;
  transition: bottom 0.5s ease, box-shadow 0.9s ease;
}
.item-0:hover {
  bottom: 10px;
  box-shadow: 0 10px #e6e6e6;
}

.item-0 > img {
  width: 100%;
  height: fit-content;
  position: relative;
  object-fit: cover;
  z-index: -1;
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  bottom: 20px;
}
.item-0 > h1 {
  position: absolute;
  font-size: 23px;
  padding: 25px;
  bottom: 90px;
  text-align: center;
  color: #fff;
}
.item-0 > h2 {
  position: absolute;
  padding: 20px;
  bottom: 60px;
  color: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}
.item-0 > button {
  position: absolute;
  width: 200px;
  height: 45px;
  font-size: 17px;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
.container .item-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  background: #b60000;
  position: relative;
  overflow: hidden;
  z-index: -3;
  border-radius: 15px;
  bottom: 0;
  box-shadow: 0;
  transition: bottom 0.5s ease, box-shadow 0.9s ease;
}
.item-1:hover {
  bottom: 10px;
  box-shadow: 0 10px #e6e6e6;
}
.item-1 > img {
  width: 100%;
  height: fit-content;
  position: relative;
  object-fit: cover;
  z-index: -1;
  margin-left: 50%;
  transform: translate(-25%);
  bottom: 30px;
}
.item-1 > h1 {
  position: absolute;
  width: 200px;
  font-size: 23px;
  padding: 20px;
  bottom: 140px;
  color: #fff;
}
.item-1 > h2 {
  position: absolute;
  padding: 20px;
  bottom: 110px;
  font-size: 12px;
  color: #fff;
}
.item-1 > button {
  position: absolute;
  width: 200px;
  height: 45px;
  font-size: 17px;
  left: 20px;
  bottom: 20px;
}
.container .item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  background: #b60000;
  position: relative;
  overflow: hidden;
  z-index: -3;
  border-radius: 15px;
  bottom: 0;
  box-shadow: 0;
  transition: bottom 0.5s ease, box-shadow 0.9s ease;
}
.item-2:hover {
  bottom: 10px;
  box-shadow: 0 10px #e6e6e6;
}
.item-2 > img {
  width: 130%;
  height: fit-content;
  position: relative;
  object-fit: cover;
  z-index: -1;
  margin-left: 50%;
  transform: translate(-35%);
  bottom: 70px;
}
.item-2 > h1 {
  position: absolute;
  font-size: 23px;
  padding: 20px;
  bottom: 160px;
  color: #fff;
}
.item-2 > h2 {
  position: absolute;
  width: 300px;
  padding: 20px;
  bottom: 120px;
  font-size: 12px;
  color: #fff;
}
.item-2 > button {
  position: absolute;
  width: 200px;
  height: 45px;
  font-size: 17px;
  left: 20px;
  bottom: 20px;
}

/* Media Query 960px ----------------------------------------------*/
@media screen and (max-width: 960px) {
  .main-container .container {
    height: 750px;
    width: 95%;
  }
  .container .item-0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item-0 > img {
    width: 80%;
    top: 10px;
  }
  .item-0 > h1 {
    font-size: 2vw;
    bottom: 65px;
  }
  .item-0 > h2 {
    font-size: 1.5vw;
    bottom: 45px;
  }
  .item-0 > button {
    height: 35px;
  }
  .container .item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item-1 > img {
    top: 10px;
  }
  .item-1 > h1 {
    font-size: 2vw;
    bottom: 65px;
  }
  .item-1 > h2 {
    font-size: 1.5vw;
    bottom: 45px;
  }
  .item-1 > button {
    height: 35px;
  }
  .container .item-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .item-2 > img {
    top: 0;
  }
  .item-2 > h1 {
    font-size: 3vw;
    bottom: 165px;
  }
  .item-2 > h2 {
    font-size: 2vw;
    bottom: 55px;
  }
  .item-2 > button {
    height: 35px;
  }
}

/* Media Query 500px --------------------------------------------- */
@media screen and (max-width: 500px) {
  .main-container {
    position: relative;
    width: 92%;
    height: 1250px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .main-container .container {
    display: block;
    position: relative;
    flex-wrap: wrap;
    height: 550px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .container .item-0 {
    position: relative;
    float: right;
    height: fit-content;
    margin-bottom: 20px;
  }
  .item-0 > img {
    display: block;
    margin-top: 10px;
    align-self: center;
    width: 150%;
    overflow: hidden;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .item-0 > h1 {
    z-index: 3;
    font-size: 5vw;
  }
  .item-0 > h2 {
    z-index: 3;
    font-size: 10px;
    font-size: 3vw;
  }
  .item-1 {
    margin-bottom: 20px;
  }
  .item-1 > img {
    bottom: 0;
  }
  .item-1 > h1 {
    z-index: 3;
    font-size: 5vw;
  }
  .item-1 > h2 {
    z-index: 3;
    font-size: 10px;
    font-size: 3vw;
  }
  .item-2 {
    margin-bottom: 20px;
  }
  .item-2 > img {
    bottom: 30px;
  }
  .item-2 > h1 {
    z-index: 3;
    font-size: 5vw;
    bottom: 80px;
  }
  .item-2 > h2 {
    position: absolute;
    bottom: 48px;
    display: block;
    font-size: 10px;
    font-size: 3vw;
  }
}
