.container-header {
}
.top {
  width: 100%;
  background: #4a4d4e;
}
.top-menu {
  display: flex;
  width: 1264px;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  justify-content: space-between;
  z-index: 5;
  align-items: center;
}
.top-left a {
  position: relative;
  margin: 35px;
}
.top-right a {
  position: relative;
  margin-left: 35px;
}
span {
  padding-left: 10px;
  position: absolute;
  width: 17px;
  height: 17px;
  fill: white;
}
a {
  color: #fff;
  text-decoration: none;
  margin-right: 18px;
  font-size: 14px;
}

.logo {
  margin-left: 30px;
  width: 50px;
  height: 50px;
}
.main {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.main-menu {
  position: relative;
  width: 1264px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  display: flex;
  padding: 5px 0;
  align-items: center;
  z-index: 1;
}
/* It's appoint to children components  */
.menu-list ul {
  display: flex;
  list-style: none;
}
/* It's appoint to children components  */
.menu-list li {
  font-size: 20px;
  font-weight: 400;

  position: relative;
  margin-right: 35px;
  color: #4a4d4e;
}
.right-icons {
  position: absolute;
  list-style: none;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  fill: #4a4d4e;
}
.right-icons li {
  width: 32px;
}
